/*
  font-family: 'Montserrat', sans-serif; 100it/800
  font-family: 'Open Sans', sans-serif; 400/400it/700/700it
*/

html {
  scroll-behavior: smooth;
}

body {
  max-width: 320px;
  margin: auto;
  background: black;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Open Sans', sans-serif;
}

header {
  border-width: 2px;
  border-style: solid;
  border-color: white;
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
  border: 2px solid white;
  background-image: url(../img/image-code.jpg);
  margin-top: 20px;
}

header span {
  color:rgb(42, 252, 166);
  font-family: 'Montserrat', sans-serif;
}

.site-header strong {
  font-size: 27px;
}

.site-header em {
  font-size: 27px;
}

strong {
  font-family: 'Montserrat', sans-serif;
  font-size: 27px;
}

header p {
  color:rgb(188, 186, 186);
}

.presentation {
  background: rgb(42, 252, 166);
  color: black;
  width: 100%;
  padding: 28px;
  padding-top: 5px;
  box-sizing: border-box;
  margin-top: 20px;
}

article {
  background: white;
  color: black;
  width: 100%;
  padding: 28px;
  padding-top: 5px;
  box-sizing: border-box;
  margin-top: 20px;
}

.information {
  font-size: small;
}

span {
  color: rgb(165, 165, 165);
}

.name {
  color: rgb(42, 252, 166);
}

.word {
  color: rgb(165, 165, 165);
}

.link-article {
  border-width: 5px;
  border-style: solid;
  border-color: rgb(68, 68, 68);
  background: rgb(68, 68, 68);
  border-right-width: 15px;
  border-left-width: 15px;
}

.link-index {
  border-width: 5px;
  border-style: solid;
  border-color: rgb(68, 68, 68);
  background: rgb(68, 68, 68);
  border-right-width: 15px;
  border-left-width: 15px;
}

a {
  color: white;
  font-size: small;
  Text-decoration: none;
}

figure {
  margin: auto;
  box-shadow: 5px 5px 5px black;
}

figcaption {
  font-size: small;
  padding-right: 20px;
}

footer {
  text-align: center;
  font-size: smaller;
  border-width: 3px;
  border-style: solid;
  border-color: rgb(42, 252, 166);
  margin-top: 20px;
}







